body{
    display: flex;
    flex-direction: column;
    height: 100%;
}


.block-with-text {
    /* спрятать текст если у более N строк */
    overflow: hidden;
    /* для установки '…' в абсолютную позицию */
    width:90%;
    position: relative;
    background-color: red;
    color: #FFFFFF;
    /* используйте это значение для расчёта высоты блока */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * число строк (3) */
    max-height: 3.6em;
    /* исправлиление проблемы когда последнее слово не соединяется с правой стороны */
    text-align: justify;
    /* место для многоточия '…' */
    padding-right: 1em;
}

/* создаём многоточие … */
.block-with-text:before {
    /* многоточие в конце */
    content: '…';
    /* абсолютное позиционирование */
    position: absolute;
    /* установить позицию в правый нижний угол блока */
    right: 0;
    bottom: 0;
}

/* спрятать многоточие … если у нас есть текст, который меньше или равен количеству максимальный строк */
.block-with-text:after {
     content: "";
     position: absolute;
     /* установить позицию в правый нижний угол блока */
     right: 0;
     /* установить width и height */
     width: 1em;
     height: 1em;
     margin-top: 0.2em;
     /* цвет фона перед блоком */
     background-color: red;
 }
.ramka-3 {
  width: 99%;
  height: 200px;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  box-shadow: inset 0 0 0 3px #337AB7;
}
input {
  margin-top: 30px;
font-size: 25px;
}
