.block-with-text {
    /* спрятать текст если у более N строк */
    overflow: hidden;
    /* для установки '…' в абсолютную позицию */
    position: relative;
    /* используйте это значение для расчёта высоты блока */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * число строк (3) */
    max-height: 3.6em;
    /* исправлиление проблемы когда последнее слово не соединяется с правой стороны */
    text-align: justify;
    /* место для многоточия '…' */
    padding-right: 1em;
}
